/*===== Reset =====*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #000;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 5rem;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* This is where the magic happens  */
#background {
    mix-blend-mode: multiply;
    filter: contrast(1.8);
}

/*===== MEDIA QUERIES =====*/
@media screen and(max-width: 768px) and (max-height: 1100px) {
    .container #player {
        object-fit: cover;
        object-position: -30rem center;
        transform: scale(.8);
    }
}

@media screen and (max-height: 949px) {
    .container #player {
        object-position: -32rem center;
        transform: scale(.8);

    }
}


@media screen and (max-height: 751px) {
    .container #player {
        object-position: -27rem center;
    }
}

@media screen and (max-height: 671px) {

    .container #player {
        object-position: -24rem center;

    }
}